* {
	box-sizing: border-box;

	&::-webkit-scrollbar {
		display: none;
	}
}

img {
	-webkit-user-drag: none;
}

html,
body {
	height: 100%;
	min-width: 500px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}