$color: #5f86ea;
$color-transparent: #5f86ea80;
$light-color: #85a2ec;
$light-color-transparent: #85a2ec80;
$dark-color: #426edd;
$dark-color-transparent: #426edd80;
$gray-0: #fafafa;
$gray-1: #f2f2f2;
$gray-2: #ebebeb;
$gray-3: #999;
$gray-4: #666;
$gray-5: #333;
$gray-6: #111;
$font: $gray-0;
$bg: #161823;
$mask: #000b;
$transparent-dark: #3434342a;
$transparent-darker: #00000024;
$white: #fff;
$black: #000;
$red: #FE2C55;
$blue: #2196F3;
$green: #4CAF50;
$yellow: #FFEB3B;
$purple: #9C27B0;