.el-avatar {
	background: linear-gradient(-45deg, #6d6d6d, #dedede);
}

.el-message-box {
	padding-left: calc(1.5 * var(--el-messagebox-padding-primary));
}

.el-message {
	&.error-message {
		z-index: 9999999 !important;
	}
}

.el-carousel__mask {
	border-radius: 15px;
}

.el-icon .loading {
	animation: loading 1s linear infinite;

	@keyframes loading {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}